@model AnimalStore.Model.Dog

@{
  ViewBag.Title = "Dog";
}

<fieldset>
  <div class="float-left">
    <div style="padding: 5px 5px 5px 5px;">
      <img src="~/Images/stock-photo-20016198-beautiful-puppy.jpg" alt="Picture unavailabke"/>
    </div>
    <div id="thumbs">
      <img src="~/Images/paw_small.jpg" />
      <img src="~/Images/paw_small.jpg" />
      <img src="~/Images/paw_small.jpg" />
      <img src="~/Images/paw_small.jpg" />
    </div>
  </div>
  <div class="display-field">
    <ul class="float-right" style="list-style: none outside; direction: ltr;">
      <li>
        <img src="~/Images/icon-twitter.gif" alt="Twitter"/>
      </li>
      <li>
        <img src="~/Images/icon-facebook.gif" alt="Facebook"/>
      </li>
    </ul>
    <h2>@Html.DisplayFor(model => model.Headline)</h2>
    <h3>£@Html.DisplayFor(model => model.Price)</h3>

    @if (!Model.IsLitter && !string.IsNullOrEmpty(Model.Name))
    {
      <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Name):</h4>
      </div>
      <div class="display-field">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
      </div>
    }

    <div class="display-label">
      Created on:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.CreatedOn)
    </div>
    <div class="display-label">
      Last updated:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.ModifiedOn)
    </div>
    <div class="message-info" style="width: 400px">
      <h3>Contact the seller</h3>
      <b>Some place, some town</b>

      <p><b>Notice: </b>Lorem ipsum dolor sit amet, vel et veri offendit 
        philosophia, postea persecuti qui no. Impetus eripuit tacimates vim an, 
        eos quodsi tamquam iuvaret in. An indoctum ocurreret inciderint duo. 
        Et illum possim vel, cum simul principes te. Et ius augue assentior 
        vituperata, sea in impetus graecis adversarium.</p>
      <p>Telephone : <b>01234 567891</b></p>

      <input type="button" value="Email" />
      <input type="button" value="Shortlist" />
      <input type="button" value="Send to friend" />
      <input type="button" value="Notify me of similar dogs" />
      <input type="button" value="Report" />
    </div>
  </div>

  <div class="display-label">
    <h3>Full Details</h3>
  </div>
  <p class="float-left" style="width: 710px; clear: both;">
    @Html.DisplayFor(model => model.FullDescription)
  </p>

  <div style="float: left; width: 350px;">
    <h3>Advice about @Html.DisplayFor(dog => dog.Breed.Name)</h3>
    <p>
      The @Html.DisplayFor(dog => dog.Breed.Name) belongs to the
      @Html.DisplayFor(dog => dog.Breed.Category.Name) family of dogs.
      @Html.DisplayFor(dog => dog.Breed.Category.Description)
    </p>

    <h3>General Advice</h3>
    <p>
      IMPORTANT: Please read the following advice before buying a new pet. Whilst 
      we do everything in our power to ensure that advertisers are of the highest standard, 
      it's essential that you do your own checks. We advise that buyers always:
    </p>
    <ul>
      <li>See the mother with the puppies.</li>
      <li>Make sure that puppies are ready to leave their mother - this should 
      not be until they are, at the very least, 8 weeks old.</li>
      <li>Never send money or a check to someone in exchange for a pet.</li>
      <li>Ensure the facilities are clean.</li>
      <li>If you are told the puppy has been vaccinated, ask to see the 
        vaccination card and make sure that the veterinary surgeon's contact 
        details are visible and preferably has an address from within the UK. 
        A written medical history of the animal should be available.</li>
      <li>See the parents' hereditary screening certificates.</li>
      <li>Visit between choosing and collecting the puppies if possible.</li>
      <li>Request a written agreement that purchase is subject to a satisfactory examination by your vet.</li>
      <li>Ensure all documents are in receipt before the transaction occurs.</li>
      <li>See the puppies and breeder in person and never buy a dog or puppy 
        without being able to visit it's home.</li>
      <li>Get as much information as possible about where the puppy has 
        come from, and beware if the breeder is from outside the UK.</li>
      <li>Do not pay for a KC registered dog or pedigree cat without the 
        certificates as you may never receive them.</li>
      <li>If you visit a dog or litter and find anything you're not happy 
        with or that the ad is misleading in any way then you MUST contact us.</li>
      <li>Never buy a puppy just because you feel sorry for it. If you are 
        concerned about the health or welfare of a puppy, please contact the 
        RSPCA 24-hour cruelty and advice line: 0300 1234 999.</li>
    </ul>
    <p>
      REMEMBER:  buying a dog is a lifetime decision - don't make the decision 
      to buy a dog or puppy on a whim. Do some research on the pet you are 
      interested in and that it fits with your lifestyle. Information on 
      different breeds and categories of dog is available in our ******* section. 
      Insist on seeing the mother with the litter and judge the parents' health and temperament.
    </p>

  </div>
  <div style="float: left; width: 350px; padding-left: 10px;">
   

    <h3>@Model.HeaderText</h3>

    <br />
    <div class="display-label">
      Age:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.AgeInYears) years and @Html.DisplayFor(model => model.AgeInMonths) months
    </div>

    <div class="display-label">
      Breed:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.Breed.Name)
    </div>

    <div class="display-label">
      Category:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.Breed.Category.Name)
    </div>

    <div class="display-label">
      Litter:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.IsLitter)
    </div>

    <div class="display-label">
      Sold:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.IsSold)
    </div>

      <div class="display-label">
        @Html.DisplayNameFor(model => model.Sex):
      </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.Sex)
    </div>

    <div class="display-label">
      @Html.DisplayNameFor(model => model.CreatedOn):
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
      Last Modified:
    </div>
    <div class="display-field">
      @Html.DisplayFor(model => model.CreatedOn)
    </div>
    
    <br />
    <p style="clear:both">
      We ask that buyers should verify all details shown for
      themselves before committing to purchasing any animal
    </p>

  </div>
</fieldset>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.Partial("_ReturnToResultsPartial")
</p>
