@using System.Globalization
@model AnimalStore.Model.PageableResults<AnimalStore.Model.Dog>

<table>
    <tr>
        <td style="width: 20%">Sort By</td>
        <td>Page @Model.CurrentPageNumber of @Model.TotalPages</td>
        <td>Next</td>
    </tr>
    @foreach (var dog in Model.Data)
    {
        <tr><td colspan="3"><hr /></td></tr>
        <tr>
            <th colspan="3">@dog.Headline</th>
        </tr>
        <tr>
            <td rowspan="2">Photo here</td>
            <td>
                @if (!dog.isLitter && dog.Name != string.Empty && dog.Name != null)
                {
                    <div style="float: left; width: 80px;">Name:</div>
                    @Html.Label(@dog.Name)                 
                }
                <div style="float: left; width: 80px;">Age:</div> 
                @if (@dog.AgeInYears > 1)
                {
                    @Html.Label(@dog.AgeInYears.ToString(CultureInfo.InvariantCulture) + " years and " + @dog.AgeInMonths + " months")
                }
                else
                {
                    @Html.Label(@dog.AgeInMonths + " months")
                }
                
                @if (@dog.Breed != null)
                {
                    <div style="float: left; width: 80px;">Breed: </div>
                    @Html.Label(@dog.Breed.Name)
                }
            </td>
            <td>£@dog.Price</td>
        </tr>
        <tr><td colspan="2">@dog.FullDescription</td></tr>
        
        <tr><td colspan="3"><hr /></td></tr>
    } 

</table>