@using System.Globalization
@using System.Web.Mvc.Html
@using AnimalStore.Web.ViewModels
@model AnimalStore.Model.PageableResults<AnimalStore.Model.Dog>

<table>
    <tr>
        <td style="width: 20%">
            Sort By :
            @Html.DropDownList("myDropDown",  new SelectList(
                  new List<Object>{ 
                       new { value = 0 , text = "Price (Highest)" },
                       new { value = 1 , text = "Price (Lowest)" },
                    },
                  "value",
                  "text",
                   1))
        </td>
        <td>Page @Model.CurrentPageNumber of @Model.TotalPages</td>
        <td>
            @Html.Partial("_PagingPartial")
        </td>
    </tr>
    @foreach (var dog in Model.Data)
    {
        <tr><td colspan="3"><hr /></td></tr>
        <tr><th colspan="3">@dog.Headline</th></tr>
        <tr>
            <td rowspan="2">Photo here</td>
            <td>
                @if (!dog.isLitter && !string.IsNullOrEmpty(dog.Name))
                {
                    <div style="float: left; width: 80px;">Name:</div>
                    @Html.Label(@dog.Name)           
                }
                <div style="float: left; width: 80px;">Age:</div> 
                @if (@dog.AgeInYears <= 1)
                {
                    @Html.Label(@dog.AgeInMonths + " months")
                }
                else
                {
                    @Html.Label(@dog.AgeInYears.ToString(CultureInfo.InvariantCulture) + " years and " + @dog.AgeInMonths + " months")
                }
                
                @if (@dog.Breed != null)
                {
                    <div style="float: left; width: 80px;">Breed: </div>
                    @Html.Label(@dog.Breed.Name)
                }
            </td>
            <td>£@dog.Price</td>
        </tr>
        <tr><td colspan="2">@dog.FullDescription</td></tr>
        <tr><td colspan="3"><hr /></td></tr>
        <tr>
            <td></td>        
            <td>Page @Model.CurrentPageNumber of @Model.TotalPages</td>
            <td>
                @Html.Partial("_PagingPartial")
            </td>

        </tr>
    } 
</table>