@using AnimalStore.Common.Constants
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="~/Images/paw_small.jpg" alt="Dog" style="margin-right: 10px; margin-top: 15px;" />
                        @Html.ActionLink(@SiteNames.DOGSTORE_SITE_NAME, "Index", "Home")
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        <nav id="topnav">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home") </li>
                                <li>| FAQ </li>
                                <li>| @Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>| Terms </li>
                                <li>| Privacy</li>
                                <li>| Sitemap</li>
                            </ul>
                        </nav>
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Buy", "Index", "Home")</li>
                            <li>@Html.ActionLink("Sell", "Index", "Home")</li>
                            <li>@Html.ActionLink("News", "Index", "Home")</li>
                            <li>@Html.ActionLink("Our Community", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dogs A-Z", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @SiteNames.DOGSTORE_SITE_NAME. All rights Reserved.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
