@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h5>Our mission</h5>

    <p>
        We are striving to make this a vibrant community of pet lovers who have an interest in dog ownership or breeding.
    </p>

    <p>
        We strive to make this site <a>open-standard</a> and <a>open platform</a>. We hope others can build
        sites and applications on this platform. <a>Read more</a> about using our API.
    </p>

    <p>
        xxxx xxxx xxxx
    </p>
    
    <h3 id="gettingStarted">Getting started</h3>
    
    We have a large and growing number of resources to help you get started in your journey to find the right dog for you. Here's a quick guide to getting started:

    <h5 id="register">Create an account</h5>

    <p>
        Registering is quick and easy and gives you the following benefits:
    </p>
    
    <ul>
        <li>Get in touch with other users who to xxxx</li>
        <li>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx thtyhth fhf</li>
        <li>Create a profile for your dog(s)</li>
    </ul>
    
    <p>
        Click @Html.ActionLink("here", "Register", "Account") to create an account and start enjoying the great benefits of our site.
    </p>
    
    <h5 id="start">Start using our site</h5>
    
    <p>
        That's it! Once your registered you can @Html.ActionLink("begin", "Login", "Account") taking full advantage of the powerful features of this site.
    </p>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    <img src="~/Images/3607841-sweet-dachshund--teckel--dog-sitting-on-a-white-background.jpg" />
</aside>